.wrapper {
  display: flex !important;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  width: 80% !important;
}

.wrapper > header {
  background-color: #e3f2fd;
  position: fixed !important;
  top: 0 !important;         /* stick to very top */
  left: 7.5% !important;       /* 15 */
  width: 15% !important;     /* fixed width */
  height: 100vh !important;  /* fill screen height */
  overflow-y: auto !important;

  padding-top: 2%;         /* shift content down */
}

.wrapper > section {
  flex: 1 1 80%;
  margin-left: 20%;
}

.dhdelimiter hr {
  border-top: 2px solid #1f77b4; /* Python = blue */
}

/* Outer container stretches full width */
.logos-background-full {
  width: 100%;                     /* full section width */
  background-color: rgba(0, 128, 0, 0.15); /* choose one of the green shades */
  display: flex;
  justify-content: center;          /* center logos horizontally */
  padding: 5px 0;                   /* thickness of the background */
}

/* Inner container holds logos in a row */
.logos-background {
  display: flex;
  gap: 10px;                        /* space between logos */
}
